@model  IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h1>Blog Listesi</h1>
<hr />

@Html.Partial("BlogList", Model)

@section RightBar{

    @Html.Partial("Search")
    @{
        Html.RenderAction("CategoryList", "Category");
    }

}


