@model  IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h1>Blog Listesi</h1>
<hr />
@foreach (var blog in Model)
{
    <div class="card mb-4">
        <img class="card-img-top" src="https://via.placeholder.com/900x300" alt="Card image cap">
        <div class="card-body">
            <div class="card-title">
                <h3>@blog.Title</h3>
                <p>
                    <i class="fas fa-calendar-week"></i>
                    @blog.CreatedDate
                </p>
            </div>
            <p class="card-text">@blog.Description</p>
            @Html.ActionLink("Read more...", "Details", "Blog", new { id = blog.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
}

@section RightBar{
    <div class="card p-2 mb-5 border-0">
        <h4 class="card-title pl-3">Blog Search</h4>
        <div class="input-group col-md-12">
            <input class="form-control py-2" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
    
    @{ 
        Html.RenderAction("CategoryList", "Category");
    }
}


